{% extends 'base.html' %}

{% block content %}
    <h2>Schedule</h2>
    {% for location in schedule %}
        <table class="table table-striped caption-top">
            <caption style="caption-sice:top;">Group {{ location[0].group }}, {{ location[0].location }}</caption>
            {% for match in location %}
                <tr>
                    <td class=col-1>{{ match.round_ }}. </td>
                    <td class=col-5 style="text-align:right;">{{ match.team_a }}</td>
                    <td class=col-1 style="text-align:center;">—</td>
                    <td class=col-5>{{ match.team_b }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
